#banner{
	margin-top: -21px;
  	background-size: 100% 100% !important;
  	z-index:0;
  	positon: relative !important;
  
}
@media (max-width: 767px){
 	#banner{
  		background-size: auto auto !important;
	} 
}
@media (min-width: 1200px){
 	#banner{
  		height:500px !important;
    	background-size: auto 100% !important;
    	background-position:center !important;
    	padding-left: 21%;	
	}
	
}
.navbar{
  margin:0 !important;
}