@media (max-width: 395px){
 	#banner-text-Power{
    margin-left: -25px;
    margin-top: -40px;
  }
 	#banner-text-Projet{
    margin-left: -20px;
    margin-top: -10px;
  }
}
.container-fluid{
  margin-top:25px;
}
.image-responsive{
  max-width:100%;
  height:auto;
}
#banner{
  	background-size: 100% auto !important;
  	height: 293px !important;
    background-position: center !important;
    margin-top:0 !important;
}
@media (max-width: 650px){
 	#banner{
  		background-size: auto 100% !important;
    	height: 293px !important;
        background-position: top !important;
	} 
}
@media (min-width: 1440px){
 	#banner{
  		height:625px !important;
    	background-size: 100% auto !important;
    	background-position:center !important;
    		
	}
  	#banner-text-Power{
    	margin-top: 452px;
  	}
	#banner-text-Projet{
    	margin-top: 192px;
    }
}